<html>
{% if page.title %}
<title>{{page.title}} | {{page.description}} | {{site.title}} </title>
{% else %} 
<title>{{site.title}} | {{site.summary}} </title>
{% endif %} 
<link rel="icon" href="//0.0.0.0:8088/favicon.ico" type="image/png">
<!--
-->
<link href="style.css" rel="stylesheet" type="text/css" media="all">

<style>
</style>
<body>

<div id=hero><h1>Resume's on the blockchain</h1>
<p>a resume for everyone ...</div>

<div class=content>
{{content}}
</div><br><hr><div>


<p>
contact us at : <span>{{site.email}}</span>
</div>

</body>

</html>
