<!DOCTYPE html><html><head>
<title>{{ page.title }}</title>
<!-- vim: nospell
<link href="https://cdn.statically.io/gh/iglake/cssjs/master/css/style.css" rel="stylesheet" type="text/css">
-->
<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
<meta http-equiv="Origin" content="{{ site.url }}"/>
<meta charset="utf8">
<link rel="icon" href="favicon.ico" type="image/png">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
<style> div { font-family: Lato; } </style>

<link href="/style.css" rel="stylesheet" type="text/css" media="all">
<!--
<link href="https://cdn.jsDelivr.net/gh/iglake/cssjs@v1.4/css/style.css" rel="stylesheet" type="text/css">
<link href="//0.0.0.0:8088/GITrepo/iglake/cssjs/css/style.css" rel="stylesheet" type="text/css">
-->
{% include gtag.htm %}
</head><body>
{{ content }}
</body>
